.footer-con{
    height: 200px;
    background-color: black;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.social-con{
    width: 100%;
    display: flex;
    justify-content: center;
}
.social{
    display: flex;
    color: white;
}